/*--导航栏样式开始*/
.nav{
    width: 100%;
    height: 103px;
    border-bottom: 1px solid #d5d5d5;
    position: fixed;
    left: 0px;
    top:0px;
    background-color: #fff;
    z-index: 88;
}
.wrap{
    width: 1196px;
    margin: 0 auto;
}
.logo{
    width: 205px;
}
.logo,.nav_right{
    float: left;
}
.logo>img{
    margin-top: 25px;
}
.nav_right{
    width: 991px;
    height: 103px;
}
.enter{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.nav_right .enter ul{
    float: right;
}
.nav_right .enter ul li{
    float: left;
}
.nav_right .home>ul{
    float: right;
}
.nav_right .home>ul>li{
    float: left;
}
.nav_right ul a{
    margin: 0 10px;
    color: #9f9f9f;
}
.enter ul li:first-child a{
    color: #ef4222;
}
.nav_right ul li a:hover{
    color: #ef4222;
}
.home{
    width: 100%;
    height: 63px;
    line-height: 63px;
}
.home>ul a{
    color: #000;
    margin-left: 52px;
    font-size: 16px;
    font-weight: bolder;
}
.search{
    width: 170px;
    height: 30px;
    border: 1px  solid #ddd;
    box-sizing: border-box;
    padding-left: 5px;
    margin-top: 16.5px;
    margin-left: 120px;
}
.search>input{
    width: 138px;
    height: 28px;
    float: left;
}
.search>button{
    width: 25px;
    height: 28px;
    float: left;
    background-color: #fff;
    border: none;
}
.phone_hidden{
    width: 100%;
    height: 260px;
    background-color: whitesmoke;
    position: absolute;
    left:0 ;
    top:104px;
    display: none;
}
.menu-column{
    margin: 0 115px;
    float: left;

    font-family: Arial, sans-serif;

}
.menu-column h3 {
    height: 30px;
    font-size: 16px;
    color: #333;
}
.menu-item {
    height: 36px;

    font-size: 14px;
}
.menu-item .hot {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}
.home .phone:hover .phone_hidden{
    display: block;
}
/*--导航栏样式结束*/
/*轮播图样式开始*/
.lunbotu{
    width: 100%;
    height: 640px;
    background-image: url("../jinli_images/04_1515047442501.jpg");
    background-position: -280px;
    margin-top: 104px;
    -webkit-animation: lunbotu 5s infinite alternate;
    animation: lunbotu 5s infinite alternate;
}
@-webkit-keyframes lunbotu  {
    0%{
        background-image: url("../jinli_images/04_1515047442501.jpg");
    }
    100%{
        background-image: url("../jinli_images/02_1517536570441.jpg");
    }
}

@keyframes lunbotu  {
    0%{
        background-image: url("../jinli_images/04_1515047442501.jpg");
    }
    100%{
        background-image: url("../jinli_images/02_1517536570441.jpg");
    }
}
/*轮播图样式结束*/
/*明星产品样式开始*/
/* .star{
    width: 100%;
    height: 451px;
}
.star h2,.hot h2{
    padding: 40px 0;
    font-size: 30px;
    letter-spacing: 1px;
    color: #000;
}
.img_box>img{
    float: left;
}
.img_box>img:nth-child(2){
    margin-left: 13px;
    margin-right: 13px;
} */
.star{
    width: 100%;
    height: 570px;
}
.wrap-column{
    margin: 0 auto;
    width: 100%;
}
.star h2,.hot h2{
    padding: 40px 0;
    font-size: 30px;
    letter-spacing: 1px;
    color: #000;
}
.img_box{
    margin: 0 auto;
    width: 1850px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}
.img_box>img:nth-child(odd){
    width:33%;
    /* flex-grow: 1; */
}
.img_box>img:nth-child(2){
    /* margin-left: 13px;
    margin-right: 13px; 
    flex-grow:1*/
    width: 33%;
}
/*明星产品样式结束*/
/*热卖推荐样式开始*/
.hot{
    width: 100%;
    background-color: #e5e5e5;
}
.hot .more{
   text-align: right;
    color: #000;
    cursor: pointer;
    margin-bottom: 20px;
}
.hot .more:hover{
    color: #ef4222;
}
.hot_box{
    width: 100%;
    height: 785px;
}
.hot_box>div{
    height: 785px;
    float: left;
}
.hot_left{
    width: 305px;
}
.hot_right{
    width: 891px;
}
.hot_right>div{
    width: 290px;
    height: 390px;
    background-color: #fff;
    float: left;
    margin-left: 7px;
}
.hot_right>div:nth-child(1),.hot_right>div:nth-child(2),.hot_right>div:nth-child(3){
    margin-bottom: 5px;
}
.phoneimg{
    width: 100%;
    position: relative;
}
.phoneimg>img{
    width: 120px;
    position: absolute;
    left: 85px;
    top:23px ;
}
.phoneimg:hover .after{
    left:55px ;
}
.phoneimg:hover .before{
    left:115px ;
}
.text_box{
    margin-top: 280px;
}
.text_box>h3{
    color: #0f0e0e;
    font-size: 16px;
}
.text_box>p{
    color: #9E9E9E;
    font-size: 14px;
    padding-top: 3px;
}
.text_box>span{
    color: #fe6a00;
    font-size: 24px;
    padding-top: 12px;
}
/*热卖推荐样式结束*/
