/*黑色导航条开始*/
.black_nav{
    width: 100%;
   height: 40px;
    line-height: 40px;
    background-color: #333;
     color:  #424242;
}
.wrap{
    width: 1226px;
    margin: 0 auto;
}
.left_ul,.left_ul>li,.right_ul>li{
    float: left;
}
.left_ul a,.right_ul a{
    color: #b0b0b0;
    font-size: 12px;
    margin: 0 5px;
}
.left_ul a:hover,.right_ul a:hover{
    color: #fff;
}
.right_ul{
    float: right;
}
.cart i{
    margin-right: 5px;
}
.cart{
    width: 120px;
    height: 40px;
    background-color: #424242;
    position: relative;
}
.cart:hover{
    background-color: #fff;
}
.cart:hover a{
   color:orange;
}
.hidden_cart{
    width: 320px;
    height: 0;
    background-color: #fff;
    position: absolute;
    right: 0;
    top:40px;
    overflow: hidden;
    transition: all .5s;
    z-index: 88;
    /*line-height: 100px;*/
}
.cart:hover .hidden_cart{
    height: 100px;
    line-height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
/*黑色导航条结束*/
/*白色导航栏开始*/
.white_nav{
    clear: both;
    width: 100%;
    height: 100px;
    line-height: 100px;
    position:relative;
}
.logo,.mi_nav{
    float: left;
}
.mi_nav>li{
    float: left;
}
.logo{
    margin-top: 21.5px;
    margin-right: 190px;
}
.mi_nav>li>a{
    color: #757575;
    font-size: 16px;
    margin-right: 20px;
}
.mi_nav>li>a:hover{
    color: #ff6700;
}
.mi_nav{
    width: 980px;
}
.mi_nav>.search{
    float: right;
}
.search>input{
    width: 243px;
    height: 48px;
    border: 1px solid #e0e0e0;
    float: left;
    border-right: none;
    outline: none;
    transition: all .3s;
}
.search{
    margin-top: 25px;
}
.search>button{
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e0;
    float: left;
    background-color: #fff;
    font-weight: bold;
    outline: none;
    font-size: 20px;
    transition: all .3s;
}
.search>button:hover{
    background-color: #ff6700;
    color: #fff;
    border-color:  #ff6700;
}
.search>input:focus,.search>input:focus+button{
    border-color:  #ff6700;
}
.mi_nav_hidden{
    width: 100%;
    height: 230px;
    background-color: red;
    position: absolute;
    left: 0;
    top: 100px;
    display: none;
}
.mi_nav>li:hover>.mi_nav_hidden{
    display: block;
}
/*白色导航栏结束*/
/*轮播图和滑动门开始*/
.carousel{
    width: 1226px;
    height: 460px;
    background: url("../images/xmad_15481253648514_fHtzd.jpg");
    background-size: cover;
    -webkit-animation:carousel 10s infinite ;
    position: relative;
}
@-webkit-keyframes carousel {
    0%{
        background-image: url("../images/xmad_15481253648514_fHtzd.jpg");
    } 25%{
        background-image: url("../images/xmad_15486597522208_HOEjJ.jpg");
    } 50%{
        background-image: url("../images/xmad_15489036241498_XVwut.jpg");
    } 75%{
        background-image: url("../images/xmad_15500560064953_Bgumq.jpg");
    }100%{
        background-image: url("../images/xmad_15488151829917_hENZU.jpg");
    }
}
.hdm{
    width: 234px;
    height: 460px;
    background-color: rgba(0,0,0,.5);
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
}
.hdm li{
    height: 42px;
    line-height: 42px;
    text-align: left;
    padding-left: 30px;
}
.hdm li a{
    color: #fff;
}
.hdm li:hover{
    background-color: #ff6700;
}
.hdm i{
    float: right;
    margin-right: 30px;
    color: rgba(255,255,255,.5);
    font-weight: bold;
    font-size: 20px;
}
.hdm_hidden{
    width: 992px;
    height: 460px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 234px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
    display: none;
    z-index: 66;
}
.hdm li:hover>.hdm_hidden{
    display: block;
}
.prev,.next{
    width: 41px;
    height: 69px;
    background: url("../images/icon-slides.png");
    position: absolute;
    top:50%;
    margin-top: -34.5px;
    cursor: pointer;
}
.prev{
    left: 234px;
    background-position: -83px 0;
}
.next{
    right: 0;
    background-position: -124px 0;
}
.prev:hover{
    background-position: 0 0;
}
.next:hover{
    background-position: -42px 0;
}
/*轮播图和滑动门结束*/
/*小米小广告位开始*/
.ad{
    margin-top: 15px;
    overflow: hidden;
}
.ad>ul,.ad>img{
    float: left;
}
.ad>img{
    width: 316px;
    height: 170px;
}
.ad>ul{
    width: 234px;
    height: 170px;
    background-color: #5f5750;;
}
.ad>ul>li{
 float: left;
    width: 70px;
    color: rgba(255,255,255,0.7);
    padding: 25px 0;
    font-size: 12px;
    border-right: 3px solid #665e57;
}
.ad>ul>li:nth-child(3),.ad>ul>li:nth-child(6){
    border-right:0;
}
.ad .before{
    border-bottom:3px solid #665e57;
}
.ad>img{
    margin-left: 14.6px;
}
/*小米小广告位结束*/
/*小米闪购开始*/
.sg{
    margin-top: 40px;
}
.sg h2{
    text-align: left;
    float: left;
    font-weight: normal;
}
.sg_arrow{
    float: right;
}
.sg_arrow>span{
    width: 36px;
    height: 24px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    line-height: 24px;
    float: left;
    font-weight: bold;
    color:#e0e0e0;
}
.sg_box{
    clear: both;
    padding-top: 20px;
}
.sg_box>div{
    width: 234px;
    height: 339px;
    background-color: #fafafa;
    float: left;
    margin-right: 14px;
}
.sg_box>div:last-child{
    margin-right: 0;
}
.sg_box>div:first-child{
    border-top:1px solid #e53935;
}
.sg_box>div:nth-child(2){
    border-top:1px solid #ffac13;
}
.sg_box>div:nth-child(3){
    border-top:1px solid #83c44e;
}.sg_box>div:nth-child(4){
    border-top:1px solid #2196f3;
}.sg_box>div:nth-child(5){
    border-top:1px solid #83c44e;
}
 .sg_item>img,.item_right img{
    width: 160px;
     margin: 30px 0 25px 0;
 }
.sg_item>h4,.item_right h4{
    font-weight: normal;
    margin-bottom: 10px;
}
.sg_item>p,.item_right p{
    font-size: 12px;
    color: #b0b0b0;
    margin-bottom: 20px;
}
.sg_item>span,.item_right span{
    color: #ff6700;
}
.sg_item>span>s,.item_right s{
    color: #b0b0b0;
    display: inline-block;
    margin-left: 10px;
}
.ad_img{
    width: 100%;
    margin: 40px 0;
}
/*小米闪购结束*/
/*手机开始*/
.phone_container{
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 40px;
    overflow: hidden;
}
.phone_box>h2{
    text-align: left;
    font-weight: normal;
}
.phone_box>h2>a{
    float: right;
    font-size: 16px;
    color: #333333;
}
.phone_box>h2>a:hover{
    color: #ff6700;
}
.phone_box>h2 i{
    font-size: 20px;
}
.item_left,.item_right{
    height: 614px;
    float: left;
}
.item_left{
    width: 234px;
    transition: all .5s;
}
.item_left>img{
    width: 100%;
}
.phone_item{
    margin-top: 20px;
}
.item_right{
    width: 992px;
}
.item_right>div{
    width: 234px;
    height: 300px;
    background-color: #fff;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
    position:relative;
    transition: all .5s;
}
.item_right b{
    width: 64px;
    height: 20px;
    background-color: #83c44e;;
    display: inline-block;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
}
.item_left:hover,.item_right>div:hover{
    transform: translate(0,-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
}
/*手机结束*/